<script type="text/javascript">
"use strict";

function connectChildModalModel(base) {
  var self = this;
  self.base = base;
  self.name = ko.observable();
  self.dob = ko.observable();
  self.shu_id = ko.observable();
  self.ajaxError = ko.observable();
  self.emailSent = ko.observable();

  self.init = function() {
    self.name('');
    self.dob('2001-01-01');
    self.shu_id('');
    self.ajaxError('');
    self.emailSent(false);
  };

  self.leave = function() {
    self.init();
  };

  self.init();

  self.connectChild = function() {
    self.ajaxError('');
    var data = {
      name: self.name(),
      dob: self.dob(),
      shu_id: self.shu_id(),
    };
    $.ajax ({
      type: 'POST', url: AUTH_SERVICE_URL + 'connect-child',
      username: self.base.auth().token,
      password: 'x',
      headers: {
        "Authorization": "Basic " +
          btoa(self.base.auth().token + ":x")
      },
      contentType: 'application/json; charset=utf-8',
      dataType: "json",
      data: JSON.stringify(data),
      success: function (data) {
        self.emailSent(true);
        self.base.selectedView().data.getProfile();
      },
      error: function (e) {
        processError(e, self.ajaxError);
      }
    });
  };

  self.connectChildDone = function() {
    self.init();
    $('#connectChildModal').modal('hide');
  };
}
</script>
