<script id="forgetPasswordT" type="text/html">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2
    col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="glyphicon glyphicon-user"></i> Enter your username or email</h1>
        </div>
        <div class="panel-body">
          <!-- ko ifnot: emailSent -->
          <form data-bind="submit: passwordRecovery">
            <!-- ko if: ajaxError -->
            <div class="alert alert-danger" data-bind="text: ajaxError"></div>
            <!-- /ko -->
            <div class="form-group">
              <input data-bind="value: usernameOrEmail" type="text"
              class="form-control" placeholder="Username or email" required="">
            </div>
            <button class="btn btn-lg btn-primary btn-block"
            type="submit">Recovery password</button>
          </form>
          <!-- /ko -->
          <!-- ko if: emailSent -->
            <div class="alert alert-success">Email with password recovery procedure sent</div>
            <button class="btn btn-lg btn-primary btn-block" type="button"
            data-bind="click: goLogin">Login</button>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</script>
