<script type="text/javascript">
"use strict";

function forgetPasswordModel(base) {
  var self = this;
  self.base = base;
  self.emailSent = ko.observable();
  self.ajaxError = ko.observable();
  self.usernameOrEmail = ko.observable();

  self.init = function() {
    self.emailSent(false);
    self.ajaxError('');
    self.usernameOrEmail('');
  };

  self.leave = function() {
    self.init();
  };

  self.init();

  self.passwordRecovery= function() {
    self.ajaxError('');
    var data = {
      usernameOrEmail: self.usernameOrEmail(),
    };
    $.ajax ({
      type: 'POST', url: AUTH_SERVICE_URL + 'forget-password',
      contentType: 'application/json; charset=utf-8',
      dataType: "json",
      data: JSON.stringify(data),
      success: function (data) {
        self.emailSent(data.emailSent);
      },
      error: function (e) {
        processError(e, self.ajaxError);
      }
    });
  };

  self.goLogin = function() {
    location = self.base.loginV().href;
  };
}
</script>
