<script type="text/javascript">
"use strict";

function resetPasswordModel(base) {
  var self = this;
  self.base = base;
  self.passwordReset = ko.observable();
  self.ajaxError = ko.observable();
  self.token = ko.observable();
  self.password = ko.observable();
  self.confirmPassword = ko.observable();

  self.hasError = ko.computed(function() {
    return self.password() !== self.confirmPassword();
  });

  self.init = function() {
    self.passwordReset(false);
    self.ajaxError('');
    self.token('');
    self.password('');
    self.confirmPassword('');
  };

  self.leave = function() {
    self.init();
  };

  self.init();

  self.resetPassword = function() {
    self.ajaxError('');
    var data = {
      password: self.password(),
      token: self.token(),
    };
    $.ajax ({
      type: 'POST', url: AUTH_SERVICE_URL + 'reset-password',
      contentType: 'application/json; charset=utf-8',
      dataType: "json",
      data: JSON.stringify(data),
      success: function (data) {
        self.passwordReset(data.passwordReset);
      },
      error: function (e) {
        processError(e, self.ajaxError);
      }
    });
  };

  self.goLogin = function() {
    location = self.base.loginV().href;
  };
}
</script>
